@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap);
/* шрифты */

/* Шапка на главной */

body {
    background-color: #fff !important;
    font-display: swap;
    font-size: 1.1rem;
}

#app {
    max-width: calc(min(80vw, 540px));
    margin: 0 auto;
  }

a:link,
a:visited {
    color: #0E5168;
}

a:hover {
    color: #227a97;
}

.container {
    padding-left: 4px;
    padding-right: 4px;
}

.head-wrapper {
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-logo {
    text-align: center;
    padding-top: 2rem;
}

.top-logo img {
    width: 80vw;
    max-width: 300px;
}

.topbar {
    width: 530px;
    margin: 20px auto;
    text-align: right;
    max-width: 50vw;
    font-size: 1rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .topbar .cabinet {
    display: flex;
    background-color: #f5f0e4;
    padding: 8px 16px;
    border-radius: 32px;
    fill: #b79e6d;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    margin-left: auto;
  }

  .topbar .cabinet a {
    color: #b79e6d;
    margin-left: 0.5rem;
  }

  .topbar .logout {
    display: flex;
    background-color: #dedcdc;
    padding: 8px 16px;
    border-radius: 32px;
    fill: #a3a3a3;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    margin-left: auto;
  }

  .topbar .logout a {
    color: #a3a3a3;
    margin-left: 0.5rem;
  }


/* регистрация */

.register-block {
	margin: 4rem auto 2rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
}

button.primary, .button-primary {
    min-width: 13rem;
    height: 3rem;
    background: #EBD2A2;
	padding: 14px 55px;
    border-radius: 40px;
	color: #6C5B52;
	font-size: 1rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
    cursor: pointer;
}

button.secondary, .button-secondary {
    min-width: 13rem;
    height: 3rem;
    background: #EFEEEB;
	padding: 14px 55px;
    border-radius: 40px;
	color: #C5B8B3;
	font-size: 1rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
    cursor: pointer;
}

button.tertiary, .button-tertiary {
    min-width: 13rem;
    height: 3rem;
    background: #A58D87;
	padding: 14px 55px;
    border-radius: 40px;
	color: #ECD2C6;
	font-size: 1rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
    cursor: pointer;
}


/* регистрация и логин */
.already-registered,
.need-registration {
	margin-top: 1rem;
	color: #9AAEB6;
	text-align: center;
    cursor: pointer;
}

.already-registered a,
.need-registration a {
	margin-top: 1rem;
	color: #518fa8;
	text-align: center;
    cursor: pointer;
}

.register-block button {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.already-registered a:link,
.need-registration a:link {
    text-decoration: underline ;
}

.form-register .input[type="text"],
.form-register .input[type="phone"],
.form-register .input[type="password"],
.form-register select,
.form-register textarea {
    min-width: 300px;
}

.form-group label, .col-form-label {
    font-size: 1.1rem;
    color: #959e93;
    display: flex;
    justify-content: center;
    line-height: 0.9;
    padding-right: 0px;
  }


/* каталог на главной */
.specs {
    text-align: left;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding-left: 20px;
}

.specs.single-column {
    -moz-column-count: 1;
         column-count: 1;
}

@media screen and (max-width: 768px) {
    .specs {
        -moz-column-count: 1;
             column-count: 1;
    }
}

h1, .h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #959E93;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2, .h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #6C5B52;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.search {
    background: #EBECEB;
    border-radius: 40px;
    padding: 12px 20px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.search input[type="text"]  {
    background: #EBECEB;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #858282;
    outline: none;
    padding: .5rem;
}

input[type="text"].form-control,
input[type="phone"].form-control,
input[type="password"].form-control,
select.form-control,
textarea.form-control {
    background: #EBECEB;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #858282;
    outline: none;
    border-radius: 40px;
    padding: 12px 20px;
    margin-left: 8px;
}

select.form-control {
    min-height: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}
/* 
.select2-container,
.select2 .selection,
.select2-selection {
    background-color: #EBECEB; 
    border: none;
}

.select2-selection__choice {
    background-color: #f8f3d4;
} */

option[selected] {
    color: #766d6b;
    font-weight: bold;
  }

select.form-control[multiple] {
    height: 8rem;
}

.form-hint {
    color: #da9b63;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0;
    width: 100%;
  }

 /* писок категорий */ 

.specs .spec {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 200%;
    color: #0E5168;
}

.specs .subspec {
    margin-left: 1rem;
}

/* Список пользователей */

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 1rem;

    margin-top: 2rem;
    min-width: 400px;
    justify-content: space-around;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;

    margin-top: 1rem;
    
    color: #858282;        
}

.user.page {
    cursor: default;
}

.user .tagline {
    font-size: .85rem;
    color: #858282;
    max-width: 200px;
}

.user .tagline.page {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #858282;
    max-width: unset;
}

.user .title {
    margin-top: 1rem;
}

.user .rating img {
    width: 0.6rem;
}

.user .rating.page img {
    margin-top: 1rem;
    width: 1.5rem;
}

.user .avatar {
    width: 9rem;
    border-radius: 50%;
    height: 9rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.user .description {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 125%;
    color: #858282;
    text-align: left;
}

.user .pricelist {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #858282;
    display: flex;
    flex-wrap: wrap;

    min-width: 400px;
    max-width: calc(min(80vw, 600px));
    margin-left: auto;
    margin-right: auto;
}

.user .price-block {
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid 1px #9AAEB6;
    margin-bottom: 0.5rem;
}

.user .price-block .price-value {
    text-align: left;
    min-width: 110px;
    max-width: 250px;
    font-weight: 900;
    margin-left: 2rem;
}

.user .price-block .price-extra {
    font-size: 0.9rem;
    font-weight: 400;
}


.user .joindate {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.user .skills {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.empty-result {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #858282;
}

/* профиль пользователя */
.profile .avatar-container {
    width: 100%;
    text-align: center;
}

.profile .avatar {
    width: 12rem;
    height: 12rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .avatar svg{
    width: 2rem;
    height: 2rem;
    fill: #ffffff70;
}

.profile .avatar:hover svg{
    fill: #ffffffff;
    transition: fill 0.5s ease;
}

.profile .avatar img:hover {
    box-shadow: 3px 3px 15px #00335555;
    transition: all 0.5s ease-out;;
}

/* Галерея */

.gallery {
    margin-top: 2rem;
    -webkit-mask-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
            mask-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
}

.gallery img {
    max-width: 200px;
    max-height: 120px;
}

.profile .gallery {
    -webkit-mask-image: none;
            mask-image: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.profile .gallery img {
    margin-right: 8px;
    border-radius: 8px;
}

.contact-phone {
    font-weight: 400;
    font-size: 36px;
    color: #959E93;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-phone svg {
    width: 24px;
    height: 24px;
  }

/* поиск */

.button-search {
    cursor: pointer;
}

.search form {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#specSearch {
    font-size: 1.2rem;
    width: 100%;
  }




/* Список офферов для мастеров */

.offers-container {
    padding: 4px;
}

.offer {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: solid 1px #eee;
    margin-bottom: 20px;
}

.offer:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.offer-title {
    flex: 10;
}

.offer-location {
    flex: 1;
}

.offer-actions {
    flex: 1;
}


/* Форма профиля пользователя */

.form-profile>div {
    flex-basis: 100%;
}

.profi-fields {
    display: flex;
    flex-direction: column;
}
/* Большие цифры и интро на главной */

.introtext p {
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.big-digit {
    background-color: #f6993f;
    padding: 4px 16px;
    border-radius: 35px;
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    line-height: 45px
}

/* Список мастеров в заявке клиента */

.master-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.master-name {
    font-weight: bold;
}

/* карта в mapbox.blade */

div#map_id {
    background-color: #f8f3d4;
    margin-right: 40px;
}

.mapboxgl-canvas {
    padding: 10px;
    border-radius: 8px;
}

/* Футер */

.footer {
    padding: 20px;
    color: #555;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

