@media (max-width: 991px) {
    .section-requests {
        flex-wrap: wrap;
    }

    .head-descr img {
        max-width: 100%;
    }

    .head-texts img {
        height: 30px;
    }

    .head-texts {
        flex-wrap: wrap;
        font-size: 16px;
    }

    #map_id {
        max-width: 95vw;
        max-height: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    #app {
        max-width: 98%;
    }

    .top-logo {
        padding-top: 0;
    }

    .topbar {
        line-height: 0.9;
        align-items: normal;
        max-width: 98%;
        justify-content: space-between;
    }

    .card-body {
        padding: 0;
        ;
    }

    .button-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
    }

    .button-block .button-primary {
        margin-left: 0;
    }

    .users {
        min-width: 98%;
        position: relative;
    }

    .user {
        flex: 0 1 31%;
        font-size: 1.2rem;
        line-height: 1.2;
        position: relative;
    }

    .user .tagline {
        max-width: unset;
        font-size: 1rem;
        line-height: 1;
        color: #6a98af;
    }

    .user .pricelist {
        min-width: unset;
        max-width: unset;
        width: 100%;
    }

    .user.page {
        width: 100%;
        margin-top: 0;
    }

    h1,
    .h1 {
        margin-top: 0.5rem;
    }

    .form-group.row {
        margin-left: 0;
        margin-right: 0;
    }

    input[type="text"].form-control,
    input[type="phone"].form-control,
    input[type="password"].form-control,
    select.form-control,
    textarea.form-control {
		font-size: 1.2rem;
	}

    .footer {
        font-size: 1rem;
    }

    .footer img{
        width:100px;
    }

    .gallery-item {
        position: relative;
      }

    .button-delete {
        position: absolute;
        right: 12px;
        bottom: 12px;
        filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
        cursor: pointer;
    }

    .register-form-simple > div {
        display: flex;
        justify-content: center;
      }

      .profile-navigation {
        font-size: 1.2rem;
        line-height: 1.1;
      }

      .user .description {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .slick-dotted.slick-slider {
        max-width: 92vw;
        width: 100%;
      }
}
